LU & DK - not using a TAG in the CBOR

It appears that LU and DK are the only two countries not packaging their COSE in a 18 tag.

Is that intentional ?

Section 2 of [RFC8152](https://datatracker.ietf.org/doc/html/rfc8152) states that the COSE tag can be left out if the context in which the COSE object appears tells which type of object that is expected. SE (DK uses this impl.) did not include the tag, but we changed that because some of the app-vendors get confused.

I created two files that should work and that illustrates different tagging:
- https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/4.json
- https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/5.json



> https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/4.json <https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/4.json>
> https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/5.json <https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/5.json>
Ok - I can see some argument for making 4 pass - but should 5 pass ? Tag(61):[ Tag(18):[ ....]] -- is pretty far of what is intended ?

Dw

I think that both should pass. They are according to the specs.

Then it is not the way we should create our CWT:s, but a validator should be able to handle tagging.

@martin-lindstrom is this something you changed in the implementation? DK is a bit behind of using the latest version of the SE framework

@martin-lindstrom @dirkx Can we please find here a clear path? Handling of two options for the same thing, generates new test pathes and makes the things more complicated. Can we assume the 18 tag as in all other test files?  

@jkiddo Yes. The current version adds the Cose_Sign1 tag by default. 

@SchulzeStTSI I strongly think that a validator app must be able to handle both tagged and untagged messages. Tagging is for when you don't really know what type of message that is being parsed, and in our case it is very clear that a Cose_Sign1 message is expected, so I think that if we were to make some sort of recommendation it would be to leave the tag out.


Given how exacting we are in the spec - I am fine with more precise than  RFC8152 <https://datatracker.ietf.org/doc/html/rfc8152> - and “demanding” a TAG.

@martin-lindstrom @dirkx I would recommend to be so strict as possible in this area. The most of the "standard" libraries are generic one, which simple encode "Sign1"(18) message etc, but they are actually have no idea what they should decode, if they receive any message without this. To recommend a kind of knowledge what you receive, is from my perspective very weak in the definition and adds more complexity in the decoding. If comes more than "Sign1" Message in the game, you have immediatly a problem) So i would demand here the tag es well to define it so clear as possible. I guess it's better to create better CBOR/COSE libraries which work in every case. 

I think that even if you are using a library you should be aware of what you are doing, but OK, I am fine with either. Tag or no tag. 

Should be fixed with https://github.com/eu-digital-green-certificates/dgc-testdata/pull/118

Validates perfectly for me.

```
pbpaste| xxd -r -p | ./hc1_verify.py -b -i
Issuer              : DK
Experation time     : 1621542722
Issued At           : 1621283522
Health payload      : {"v": [{"ci": "URN:UVCI:01:DK:B986830007345F99AE898FB82C6C61F2#A", "co": "DK", "dn": 2, "dt": "2021-05-03", "is": "Danish Health Data Authority", "ma": "ORG-100030215", "mp": "EU/1/20/1528", "sd": 2, "tg": "840539006", "vp": "1119349007"}], "dob": "1983-01-06", "nam": {"fn": "Klaus", "gn": "J\u00f8rgensen", "fnt": "KLAUS", "gnt": "JOERGENSEN"}, "ver": "1.0.0"}

```