SE: CBOR value doesn't match COSE payload; COSE payload contains invalid fields

- The value under the CBOR key isn't actually present in the COSE payload, or the `BASE45` and `PREFIX` fields. For example, in [1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/1.json), the value under the `CBOR` key starts with `bf6376`, but this isn't present in the value under the `COSE` key. Instead, the COSE payload starts with `A40162`.

- The COSE payload (`A40162`) contain invalid fields under the `4`/`exp` and `6`/`iat` tags. The values are tagged as major type float, minor type 27, but contain invalid float data (and shouldn't be float anyway).


@martin-lindstrom 

> * The value under the CBOR key isn't actually present in the COSE payload, or the `BASE45` and `PREFIX` fields. For example, in [1.json](https://github.com/eu-digital-green-certificates/dgc-testdata/blob/main/SE/2DCode/raw/1.json), the value under the `CBOR` key starts with `bf6376`, but this isn't present in the value under the `COSE` key. Instead, the COSE payload starts with `A40162`.

As I have tried to communicate. Since CBOR (and JSON) doesn't have a fixed order for maps you cannot use a simple byte-array-comparison. The contents are the same, but not the ordering. 

From the readme file:

> NOTE 2: CBOR objects that are maps (i.e., the Digital Green Certificate), have an undefined order. This means that the actual encodings between two objects containing the same elements may differ since the ordering may be different. Therefore the validation can not be as simple as comparing two byte arrays against each other. The best method is to decode both elements that are to be compared with the same decoder, encode both objects with the same encoder, and then compare.

> * The COSE payload (`A40162`) contain invalid fields under the `4`/`exp` and `6`/`iat` tags. The values are tagged as major type float, minor type 27, but contain invalid float data (and shouldn't be float anyway).

See section 3.4.2 of https://datatracker.ietf.org/doc/html/rfc8949. So, it can be a float. But in my example it shouldn't. Funny. I used the https://github.com/peteroupc/CBOR-Java library for this, and that guy really knows what he is doing.

I'll make sure to use ints for seconds.


@confiks Checked it in detail. The SE CWT is perfectly legal. 

However, there is really no reason on given `iat` and `exp` with a finer granularity than seconds, so I'll change. But a validator app should be able to handle floats as well.


@SchulzeStTSI I was thing that I may update the SE files, but I think that @confiks comments points out that it is typically such a thing we want to cover in the interop tests. Unusual encodings that follow the specs, but may not be recommended. 

I think I keep one file with the float-representation (which is OK according to RFC8949) and change the other ones.

@confiks Thanks for pointing this out.

Point taken about the byte order. It does make me doubt the usefulness validation of the `CBOR` key, since for the testcases the `COSE` payload ultimately needs to be matched against the source data under `JSON` anyway. When actually validating, no reordering takes place.

For the floating-point timestamps, I would really appreciates if we could enforce the suggestion from section 3.4.2 of RFC 8949 that "an application that requires tag number 1 support may restrict the tag content to be an integer (or a floating-point value) only". There is no need for fractional timestamps, and it makes validation less complex.

> Point taken about the byte order. It does make me doubt the usefulness validation of the `CBOR` key, since for the testcases the `COSE` payload ultimately needs to be matched against the source data under `JSON` anyway. When actually validating, no reordering takes place.

I completely agree with you. In my validation code I use the same decoder/encoder and first decode, then encode, and lastly compares. IMHO the tests that we are doing in this repo are far too complicated. We should focus on pure interop. But that's another issue.

> 
> Also, there are still discrepancies between the values. For example the `COSE` payload uses indefinite-length maps, while the maps under the `CBOR` key have lengths.

Yes. And again. Nothing wrong with that.

> For the floating-point timestamps, I would really appreciates if we could enforce the suggestion from section 3.4.2 of RFC 8949 that "an application that requires tag number 1 support may restrict the tag content to be an integer (or a floating-point value) only". There is no need for fractional timestamps, and it makes validation less complex.

Again. Agree. I have already updated our code (that is also used by a number of countries). https://github.com/DIGGSweden/dgc-java

